<h1>Edit workout: <%= @workout.title %></h1>

<form action="/workouts/<%=@workout.id %>" method="POST">
  <label> Exercises:</label>
  <% @exercises.each do |e| e = exercise %>
  <input type="text" name="exercise" value="<%=exercise.title%>">
  <input type="integer" name="sets" value="<%=exercise.sets%>">
  <input type="integer" name="reps" value="<%=exercise.reps%>">
  </br>
  <input type="submit" value="Update">
</form>
